<div class='admin-slack'>
  <div class="admin-controls">
    <div class="span15">
      <ul class="nav nav-pills">
        {{nav-item route='adminPlugins.slack.rules' label='slack.menu.rules'}}
        {{nav-item route='adminPlugins.slack.generate' label='slack.menu.generate'}}
      </ul>
    </div>
  </div>
  <div class="admin-container">
    {{outlet}}
  </div>
</div>
