.admin-slack {
  .new-filter input.channel {
    width: 190px;
    margin-bottom: 0px;
  }

  h1 {
    margin-bottom: 15px;
  }

  .error {
    color: #f55959;
  }

  .admin-contents table .new-filter td {
    padding: 8px 0;
  }

  .admin-controls input[type="text"] {
    float: none;
  }
}
