.admin-slack {
  h1 {
    margin-bottom: 15px;
  }

  .error {
    color: #f55959;
  }

  .admin-contents table .new-filter td {
    padding: 8px 0;
  }

  .admin-controls input[type="text"] {
    float: none;
  }

  .form-horizontal label {
    font-weight: bold;
  }

  .form-horizontal > div {
    margin-top: 10px;
  }
}
